<div id="brand" class="p-0 d-flex align-items-center border">
  <a routerLink="/" class="text-decoration-none text-center font-weight-bold h3 m-0 flex-fill">Kubernetes Documentation</a>
  <button class="navbar-light navbar-toggler d-md-none collapsed align-self-end" type="button" (click)="isCollapsed=!isCollapsed" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
<nav id="sidebarMenu" [ngbCollapse]="isCollapsed" id="sidebarMenu" class="w-md-auto d-md-block border collapse">
  <ul class="navbar-nav">
    <li *ngFor="let nav of navs" class="nav-item" routerLinkActive="bg-secondary" [routerLinkActiveOptions]="{exact: true}" [class.active]="(currentUrl+'#'+currentFragment) == (nav.url.join('/')+'#'+nav.fragment)"><a (click)="isCollapsed=true" [class]="nav.class" [innerHTML]="nav.text" [routerLink]="nav.url" [fragment]="nav.fragment" routerLinkActive="text-white" [routerLinkActiveOptions]="{exact: true}" [class.font-weight-bold]="(currentUrl+'#'+currentFragment) == (nav.url.join('/')+'#'+nav.fragment)"  class="nav-link h6 p-0 my-1"></a></li>
  </ul>
</nav>