#brand {
    position: sticky;
    top: 58px;
}

#sidebarMenu {
    position: relative;
    max-height: calc(100vh - 66px - 58px);
    overflow-y: auto;
}

#sidebarMenu a:hover, #sidebarMenu a:focus {
    font-weight: 700!important;
}

@media (min-width: 446px) {
    #sidebarMenu {
        max-height: calc(100vh - 42px - 58px);
    }
}

@media (min-width: 768px) {
    #brand {
        top: 58px;
        z-index: 1020;
    }

    #sidebarMenu {
        max-height: calc(100vh - 66px - 58px);
    }
}