<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <span id="navbar-brand" class="d-block d-md-inline-block w-md-auto"><a href="../" class="navbar-brand font-weight-bold"><img class="mr-2 mb-1" src="assets/brand/fahadh.png" width="20" height="20" alt="" loading="lazy">Fahadh's Documentation</a></span>
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapse = !isNavbarCollapse" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isNavbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="../">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../about">About Me</a>
        </li>
        <li class="nav-item" ngbDropdown>
          <a class="nav-link" ngbDropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Documentation
          </a>
          <div class="bg-dark border-0" ngbDropdownMenu aria-labelledby="navbarDropdown">
            <a class="nav-link" ngbDropdownItem routerLink="/" routerLinkActive="active bg-secondary text-white font-weight-bold">Kubernetes Documentation</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>