.navbar-brand {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#sidebarMenucontainer {
    position: fixed;
    top: 98px;
    z-index: 100;
}

#brand {
    position: sticky;
    top: 98px;
}

#sidebarMenu {
    top: 66px;
    max-height: calc(100vh - 66px - 98px);
    overflow-y: auto;
}

#sidebarMenu a:hover, #sidebarMenu a:focus {
    font-weight: 700!important;
}

#content {
    top: 66px;
}

@media (min-width: 383px) {

    #sidebarMenucontainer {
        top: 58px;
    }

    #sidebarMenu {
        top: 66px;
        max-height: calc(100vh - 66px - 58px);
    }

    #content {
        top: 66px;
    }

    #brand {
        top: 58px;
    }
}

@media (min-width: 446px) {
    #sidebarMenu {
        top: 42px;
        max-height: calc(100vh - 42px - 58px);
    }

    #content {
        top: 42px;
    }
}

@media (min-width: 768px) {
    #sidebarMenucontainer {
        position: sticky;
        top: 58px;
        height: calc(100vh - 58px);
        z-index: 100;
    }

    #sidebarMenu {
        max-height: calc(100vh - 66px - 58px);
    }

    #brand {
        height: 66px;
        top: 58px;
        z-index: 1020;
    }

    #content {
        top: 0;
    }
}

@media (min-width: 1460px) {
    .col-xxl-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-xxl-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
}