<nav class="navbar navbar-dark bg-primary sticky-top flex-row-reverse">
  <a routerLink="/" class="navbar-brand">Kubernetes Documentation</a>
  <button class="navbar-toggler d-md-none collapsed" type="button" (click)="isCollapsed=!isCollapsed" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="container-fluid">
  <div class="row">
    <div id="sidebarMenucontainer" class="w-md-auto p-0 col-md-3 d-md-block bg-light">
      <nav id="sidebarMenu" [ngbCollapse]="isCollapsed" id="sidebarMenu" class="d-md-block collapse">
        <ul class="navbar-nav">
          <li *ngFor="let nav of navs" class="nav-item" routerLinkActive="active bg-secondary" [routerLinkActiveOptions]="{exact: true}"><a [class]="nav.class" [innerHTML]="nav.text" [routerLink]="nav.url" [fragment]="nav.fragment" routerLinkActive="active text-white" [routerLinkActiveOptions]="{exact: true}" class="nav-link h6 p-0 my-1"></a></li>
        </ul>
      </nav>
    </div>
    <div id="content" class="col-md-9 p-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>