<app-top-navbar></app-top-navbar>

<div class="container-fluid">
  <div class="row">
    <div id="sidebarMenucontainer" class="w-md-auto p-0 col-md-4 col-lg-3 col-xxl-2 d-block bg-light position-sticky h-100">
      <app-side-navbar></app-side-navbar>
    </div>
    <div id="content" class="col-md-8 col-lg-9 col-xxl-10 p-0">
      <router-outlet></router-outlet>
      <app-bottom-link></app-bottom-link>
    </div>
  </div>
  <div class="row">
    <div class="col p-0"><app-footer></app-footer></div>
  </div>
</div>