.prev-next-bottom a.left-prev, .prev-next-bottom a.center-home, .prev-next-bottom a.right-next {
    padding:10px;
    border:1px solid rgba(0,0,0,.2);
    overflow-x:hidden;
    color:rgba(0,0,0,.65);
}

.prev-next-bottom a.left-prev:before, .prev-next-bottom a.center-home:before {
    content:"<< ";
}

.prev-next-bottom a.right-next:after, .prev-next-bottom a.center-home:after {
    content:" >>";
}